{% extends "base.html" %}

{% load static %}

{% block title %}
	Giới thiệu
{% endblock title %}

{% block main %}
<!-- General informations -->
<div class="col-xs-12">
	<div style="display: none" class="alert alert-success" id="success" role="alert">
		xxxxxxxxxxxxxx
	</div>
	<div style="display: none" class="alert alert-danger" id="error" role="alert">
		xxxxxxxxxxxxxx
	</div>

	<section class="general-info white-box">
		<div class="author">
			<div class="js-avatar">
				{% include "account/includes/photo_form.html" %}
			</div>

			<input id="fileupload" type="file" name="photo" style="display: none;" data-url="{% url "profile_photo_upload" %}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

			<ul class="author-nav">
				<li  class="js-avatar"><a href="" class="avatar" title=""><i class="pe-7s-note"></i> Tải ảnh lên</a></li>
			</ul>
		</div>

	 	<div class="body-profile">
	 		{% include "account/includes/profile-form.html" %}
	 	</div>

	</section>


</div>

{% endblock main %}