amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
boto3==1.9.200
botocore==1.12.200
celery==3.1.26.post2
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.4
django-celery==3.3.0
django-cleanup==4.0.0
django-storages==1.7.1
django-widget-tweaks==1.4.5
docutils==0.14
gunicorn==19.9.0
jmespath==0.9.4
kombu==3.0.37
Pillow==6.2.0
psycopg2-binary==2.8.3
python-dateutil==2.8.0
python-decouple==3.1
pytz==2019.2
s3transfer==0.2.1
six==1.12.0
sorl-thumbnail==12.5.0
sqlparse==0.3.0
static3==0.7.0
urllib3==1.25.3
whitenoise==3.3.1
