{% load static %}

<section class="articles-info-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xs-12">
        <h1 class="articles-info-section-title">Bình luận <span class="italic">(7)</span></h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xs-12">
        <div class="comments">
          <!-- WRITE NEW COMMENT -->
          <a title="" href="#" class="light-link comment button-comment">
            <span class="button-comment-span"><i class="pe-7s-comment"></i> Viết bình luận</span>
          </a>

          <!-- COMMENTS LIST -->
          <ol>
            <li>
              <div class="comment">
                <img src="{% static "img/profile-picture5.png" %}" alt="Profile Picture" data-rjs="2">
                <div class="comment-content">
                  <h3>Jacob Amaro</h3>
                  <time datetime="2009-11-13T20:00Z">July 18, 2016 at 10:36 AM</time>
                  <p>Music is one of the driving forces in my life. I pray you will not let this be the last concert you attend. Dolly
                    Parton,
                    Kenny Rogers, Alabama, Three Dog Night, the first Bryan Adams: Cut like A Knife. And many more. Those I have
                    seen.
                  Nothing else like it. So proud u share music w your kids.</p>
                  <div class="comment-content-footer">
                    <button class="btn btn-small"><a href="#" title="Watch it">Reply</a></button>
                    <a title="Likes" href="#" class="light-link comment-content-footer-icon"><i class="pe-7s-like"></i> 0</a>
                  </div>
                </div>
              </div>
              <ol class="comment-response">
                <li>
                  <div class="comment">
                    <img src="{% static "img/profile-picture6.png" %}" alt="Profile Picture" data-rjs="2">
                    <div class="comment-content">
                      <h3>Jacob Amaro</h3>
                      <time datetime="2009-11-13T20:00Z">July 18, 2016 at 10:36 AM</time>
                      <p><span class="italic">@Jacob Amaro</span> My father would always play Matt Monro or Madonna or some other
                        classic CD every Sunday
                      morning, while my mom was cooking breakfast. It was always a good Sunday to wake up to. :)</p>
                      <div class="comment-content-footer">
                        <button class="btn btn-small"><a href="#" title="Watch it">Reply</a></button>
                        <a title="Likes" href="#" class="light-link comment-content-footer-icon"><i class="pe-7s-like"></i>
                        3</a>
                      </div>
                    </div>
                  </div>
                </li>

                <!-- WRITE RESPONSE -->
                <li>
                  <a title="" href="#" class="light-link comment button-comment-center">
                    <span class="button-comment-text">Show more answers <i
                      class="pe-7s-angle-down button-comment-text-right-icon"></i></span>
                    </a>
                  </li>
                </ol>
              </li>

              <li class="comment">
                <img src="{% static "img/profile-picture7.png" %}" alt="Profile Picture" data-rjs="2">
                <div class="comment-content">
                  <h3>Mitchell Parison</h3>
                  <time datetime="2009-11-13T20:00Z">July 20, 2016 at 16:32 AM</time>
                  <p>Beatiful article! Very helpful!</p>
                  <div class="comment-content-footer">
                    <button class="btn btn-small"><a href="#" title="Watch it">Reply</a></button>
                    <a title="Likes" href="#" class="light-link comment-content-footer-icon"><i class="pe-7s-like"></i> 124</a>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>