<section class="articles-info-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="articles-info-section-title">Bài viết liên quan</h1>
      </div>
    </div>
  </div>

  <div class="banners">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="banner-wrapper">
            <a href="#" title="Angular 2 versus React: There Will Be Blood">
              <div class="banner-wrapper-content">
                <h1 class="h2">Angular 2 versus React: There Will Be Blood</h1>
                <span class="category-tag category-tag-yellow">Javascript</span>
                <time datetime="2016-03-01" class="">March 1, 2016</time>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="banner-wrapper">
            <a href="#" title="Angular 2 versus React: There Will Be Blood">
              <div class="banner-wrapper-content">
                <h1 class="h2">The End of Global CSS</h1>
                <span class="category-tag category-tag-green">Graphic</span>
                <time datetime="2016-03-01" class="">March 13, 2016</time>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="banner-wrapper">
            <a href="#" title="Angular 2 versus React: There Will Be Blood">
              <div class="banner-wrapper-content">
                <h1 class="h2">Building an CSS Framework</h1>
                <span class="category-tag category-tag-blue">CSS</span>
                <time datetime="2016-03-01" class="">March 24, 2016</time>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>