{% load static %}
{% load thumbnail %}
{% load blog_tag %}

<!-- HEADER -->
<header class="navbar-fixed-top">
    <div class="container">
        <div class="row">

            <!-- HEADER TOP -->
            <div class="col-lg-12">
                <div class="header-top">
                    <div class="header-top-logo">
                        <a href="{% url 'home' %}" title="Logo"><img src="{% static "img/logo.jpg" %}"></a>
                    </div>
                    <div class="header-top-text">
                        <p>
                            <span class="font-italic">
                                “Chào mừng {% if request.user.is_authenticated %}
                                    <b>{{request.user.username}}</b>
                                    {% else %}
                                    bạn
                                {% endif %} đến với Blog”
                            </span>
                            <a href="https://djangobat.com" target="_blank" title="djangobat">djangobat<i
                                class="pe-7s-angle-right"></i></a>
                        </p>
                        </div>
                        <nav class="header-top-nav">
                            <ul>
                                <li class="">
                                    <a href="{% url "post_search" %}" class="light-link" title="Tìm kiếm"><i class="pe-7s-search"></i></a>
                                </li>
                                <li><a href="#" class="light-link" title="Menu">
                                    <div id="menu-animate-icon" class="header-top-nav-menu-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- end HEADER TOP -->

                <!-- HEADER NAVIGATION -->
                <div class="col-lg-12">
                    <nav class="header-nav">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}" title="Trang chủ">Trang chủ</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" title="Blog">Blog</a>
                                <ul class="dropdown-menu">
                                    {% get_category %}
                                </ul>
                            </li>
                            <li><a href="{% url 'about' %}" title="Giới thiệu">Giới thiệu</a></li>
                            
                            {% if request.user.is_authenticated %}

                                <li class="dropdown account">
                                    {% if user.profile.photo %}
                                        {% thumbnail request.user.profile.photo "35x35" as photo %}
                                            <img src="{{ photo.url }}" style="border-radius: 50%">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="{% static "img/profile.png" %}" width="35" height="35" alt="Profile Picture" data-rjs="2">
                                    {% endif %}
                                    <a class="dropdown-toggle" title="{{ request.user.username }}">{{ request.user.username }}</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url "edit_profile" %}" title="Trang cá nhân">Trang cá nhân <i class="pe-7s-angle-right-circle" style="float:right"></i></a></li>
                
                                        {% if request.user.is_superuser %}
                                            <li><a href="{% url "create_post" %}" title="Đăng bài">Đăng bài <i class="pe-7s-pen" style="float:right"></i></a></li>
                                        {% endif %}
                
                                        <li><a href="{% url "logout" %}" title="Đăng xuất">Đăng xuất <i class="pe-7s-power" style="float:right"></i></a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="register"><a href="{% url "register" %}" title="Đăng ký">Đăng ký</a></li>
                                <li class="login"><a href="{% url "login" %}" title="Đăng nhập">Đăng nhập</a></li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- end HEADER NAVIGATION -->

        </div>
    </header>
    <!-- end HEADER -->
    <!-- MOBILE NAVIGATION -->

    <nav class="mobile-nav header-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Auto Copy Header Navigation -->
                </div>
            </div>
        </div>
    </nav>

<!-- end MOBILE NAVIGATION -->