{% extends "base.html" %}

{% load static %}

{% block title %}
	BLOG DJANGO
{% endblock title %}


{% block main %}
<!-- ARTICLES -->
<div class="col-lg-8 col-xs-12">
    <section class="articles">

        <article class="green-article">
            <img class="articles-preview-img" src="{% static "img/article-image.jpg" %}" alt="" title="" data-rjs="2">
            <div class="articles-header">
                <time datetime="2016-10-11">12 giờ trước</time>
                <span class="articles-header-tag">New</span>
                <span class="articles-header-category"><a href="#" title="">Python</a></span>
            </div>
            <div class="articles-content">
                <h1><a href="blog_post.html" title="">Keeping Your Business And Clients Safe With Digital Policies</a></h1>
                <p>
                    Digital workers, especially web designers and developers, need to recognize that policy influences their products online much as
                    it does offline. Whatever the scale of our enterprise — whether a large corporation, small digital agency, software...
                </p>
            </div>
            <div class="articles-footer">
                <ul>
                    <li><a href="#" title=""><i class="pe-7s-comment"></i> 7 bình luận</a></li>
                    <li><a href="#" title=""><i class="pe-7s-like"></i> 1221</a></li>
                </ul>
                <a title="" class="btn" href="{% url "about" %}">Xem thêm</a>

            </div>
        </article>

        <article class="blue-article">
            <div class="articles-header">
                <time datetime="2016-10-11">12 hours ago</time>
                <span class="articles-header-tag-blue">Hot</span>
                <span class="articles-header-category"><a href="#" class="blue" title="">CSS</a></span>
            </div>
            <div class="articles-content">
                <h1><a href="blog_post.html" title="">10 Interview Questions Every JavaScript Developer
                Should Know</a></h1>
                <p>
                    I was young, single, and freshly employed to direct National Journal’s Presentation
                    Center, a searchable library of white-label
                    PowerPoint presentations on political and policy developments. By day, I led a team of
                    fellows in creating data
                    visualizations...
                </p>
            </div>
            <div class="articles-footer">
                <ul class="articles-footer-info">
                    <li><a href="#" class="light-link" title=""><i class="pe-7s-comment"></i> 7 Response</a>
                    </li>
                    <li><a href="#" class="light-link" title=""><i class="pe-7s-like"></i> 1221</a></li>
                </ul>
                <a title="" class="btn" href="blog_post.html">Read more</a>

            </div>
        </article>

        <article class="red-article">
            <div class="articles-header">
                <time datetime="2016-10-11">January 16, 2016</time>
                <span class="articles-header-category"><a href="#" class="red"
                  title="">Javascript</a></span>
              </div>
              <div class="articles-content">
                <h1><a href="blog_post.html" title="">State of the Art JavaScript in 2016</a></h1>
                <p>
                    Class in JS is not harmless sugar for prototypal OO. Class is a virus that infects
                    everything it touches. It came to us formally
                    in
                    JavaScript with ES6, and at the same time, React was taking off. Lots of people started
                    using classes for React components...
                </p>
            </div>
            <div class="articles-footer">
                <ul class="articles-footer-info">
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-comment"></i> 7 Response</a>
                    </li>
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-like"></i> 1221</a></li>
                </ul>
                <a title="" class="btn" href="blog_post.html">Read more</a>
            </div>
        </article>

        <article class="yellow-article">
            <div class="articles-header">
                <time datetime="2016-10-11">12 hours ago</time>
                <span class="articles-header-category"><a title="" href="#" class="yellow">CSS</a></span>
            </div>
            <div class="articles-content">
                <h1><a title="" href="#">Want to learn JavaScript in 2016?</a></h1>
                <p>
                    This is a walk-through of the steps I personally took in a single year, to begin
                    learning JavaScript. My goal was to be able to
                    get
                    a job in a position where Javascript would be at the forefront of what I do on a daily
                    basis...
                </p>
            </div>
            <div class="articles-footer">
                <ul class="articles-footer-info">
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-comment"></i> 7 Response</a>
                    </li>
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-like"></i> 1221</a></li>
                </ul>
                <a title="" class="btn" href="blog_post.html">Read more</a>
            </div>
        </article>

        <article>
            <div class="articles-header">
                <time datetime="2016-10-11">12 hours ago</time>
                <span class="articles-header-category"><a title="" href="#" class="grey">Other</a></span>
            </div>
            <div class="articles-content">
                <h1><a title="" href="blog_post.html">Want to learn JavaScript in 2016?</a></h1>
                <p>
                    This is a walk-through of the steps I personally took in a single year, to begin
                    learning JavaScript. My goal was to be able to
                    get
                    a job in a position where Javascript would be at the forefront of what I do on a daily
                    basis...
                </p>
            </div>
            <div class="articles-footer">
                <ul class="articles-footer-info">
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-comment"></i> 7 Response</a>
                    </li>
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-like"></i> 1221</a></li>
                </ul>
                <a title="" class="btn" href="blog_post.html">Read more</a>
            </div>
        </article>

        <!-- PAGINATION -->
        <nav aria-label="...">
            <a title="" href="#" class="btn-small-white pagination-back">Trước</a>
            <ul class="pagination">
                <li class="page-item active">
                    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item page-item-more"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">25</a></li>
            </ul>
            <a title="" href="blog_post.html" class="btn-small-white pagination-next">Tiếp</a>
        </nav>

    </section>
</div>

<!-- AUTHOR -->
<div class="aside-blocks col-lg-4 col-xs-12">
    <aside class="author">
        <img src="{% static "img/profile-picture.png" %}" alt="" data-rjs="2">
        <h2>Trung Bat</h2>
        <span class="author-info">Web Developer</span>
        <span class="author-info">Data Scientist </span>
        <div class="social">
            <a target="_blank" href="https://djangobat.com" title="Blog"><i class="icon-social_blogger_circle"></i></a>
            <a target="_blank" href="https://github.com/batTrung" title="Github"><i class="icon-social_github_circle"></i></a>
            <a target="_blank" href="https://facebook.com/bat.trung1" title="Facebook"><i class="icon-social_facebook_circle"></i></a>
        </div>
        <ul class="author-nav">
            <li><a href="https://djangobat.com" target="_blank" title=""><i class="pe-7s-browser"></i> My Blog</a></li>
            <li><a href="{% url "about" %}" title=""><i class="pe-7s-angle-right"></i> Xem thêm</a></li>
        </ul>
     
    </aside>
    
    <aside class="categories">
        <h2 class="aside-title">Categories</h2>
        <ul>
            <li class="nav-elipse-blue"><a href="#" title="Blog CSS articles">CSS</a></li>
            <li class="nav-elipse-red"><a href="#" title="Blog HTML articles">HTML</a></li>
            <li class="nav-elipse-yellow"><a href="#" title="Blog Javascript articles">Javascript</a></li>
            <li class="nav-elipse-green"><a href="#" title="Blog raphic articles">Graphic</a></li>
            <li><a href="#" title="Blog other articles">Other</a></li>
        </ul>
    </aside>

    <aside class="advertisement">
        <a href="#"><img src="{% static "img/article-image.jpg" %}" alt="Advertisement" data-rjs="2"></a>
    </aside>

    <aside class="tags">
        <h2 class="aside-title">Tags</h2>
        <div class="tags-content">
            <span class="tag tag-pill tag-default"><a href="#">graphic</a></span>
            <span class="tag tag-pill tag-default"><a href="#">angular2</a></span>
            <span class="tag tag-pill tag-default"><a href="#">graphic</a></span>
            <span class="tag tag-pill tag-default"><a href="#">react</a></span>
            <span class="tag tag-pill tag-default"><a href="#">it</a></span>
            <span class="tag tag-pill tag-default"><a href="#">science</a></span>
        </div>
    </aside>

</div>

{% endblock main %}