{% extends "base.html" %}

{% load static %}
{% load blog_tag %}

{% load thumbnail %}


{% block title %}
BLOG DJANGO
{% endblock title %}


{% block main %}

<div class="container">
    <div class="row">

        <div class="col-lg-8 col-xs-12">
            <section class="articles">

                {% if category %}
                    <a title="" class="btn" href="{% url "category_detail" category.slug %}">{{ category.name }}</a>
                {% endif %}

                {% for post in posts  %}
                <article>

                    {% if post.image %}
                        {% thumbnail post.image "596x359" as im %}
                            <img class="articles-preview-img" src="{{ im.url }}">
                        {% endthumbnail %}
                    {% endif %}
                  
                    <div class="articles-header">
                        <time datetime="2016-10-11">{{ post.created|timesince|to_time }} trước</time>
                        <i style="font-size: 20px;" class="pe-7s-timer"></i>
                        <span class="articles-header-category"><a href="{% url "category_detail" post.category.slug %}" class="blue" title="">{{ post.category.name }}</a></span>
                    </div>

                    <div class="articles-content">
                        <h1><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></h1>
                        <p>
                           {{ post.body|truncatewords:40 }}
                       </p>
                   </div>
                   <div class="articles-footer">
                        <ul>
                            <li><a href="{% url "post_detail" post.slug %}#comment" title=""><i class="pe-7s-comment"></i> {{ post.get_total_comment }} bình luận</a></li>
                            <li>
                                <a class="js-like" id="{{ post.id }}" data-url="{% url 'update_like' %}" title="Like bài viết">
                                    {% include "blog/includes/like-html.html" %}
                                    <small class="error" style="color: red;  display: none"><a href="{% url 'login' %}">đăng nhập</a> để tiếp tục</small>
                                </a>
                            </li>

                        </ul>
                        <a title="" class="btn" href="{{ post.get_absolute_url }}">Xem thêm</a>

                    </div>
                </article>
                {% endfor %}


                <!-- PAGINATION -->
                {% include "blog/includes/pagination.html" with page=posts %}

            </section>

        </div>

        {% include "includes/aside.html" %}
        
    </div>
</div>

{% endblock main %}
